# Foundry compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

#Hardhat files
artifacts/
cache_hardhat/
node_modules
deployments/localhost/
coverage
coverage.json
typechain
typechain-types
